@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-openSans: "OpenSans", sans-serif;
  --font-yellowtail: "Yellowtail", sans-serif;

  --color-main: oklch(from #274c5b l c h);
  --color-submain: oklch(from #7eb693 l c h);
  --color-customY: oklch(from #efd372 l c h);
  --color-customG: oklch(from #d4d4d4 l c h);
  --color-customW: oklch(from #f9f8f8 l c h);
  --color-customGr: oklch(from #eff6f1 l c h);
  --color-customB: oklch(from #525c60 l c h);
  --color-customGr1: oklch(from #b8b8b8 l c h);
  --color-bgHero: oklch(from #f1eff0 l c h);
  --color-bgTestemonial: oklch(from #fcfcfc l c h);
  --color-bgCategory: oklch(from #f1f8f4 l c h);
  --color-brGray: oklch(from #d4d4d4 l c h);
}

.container {
  max-width: 1440px;
  width: 100%;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
